@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --color-60: #032066;
  --color-30: #2cd697;
  --color-30-50: #2cd6983a;
  --color-10: #fff;
  --font: "Raleway", sans-serif;
  background-color: var(--color-60);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.5rem;
  height: 100vh;
  color: var(--color-10);
}

header {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.5rem;
  height: 50%;
  margin-top: 4rem;
  font-family: var(--font);
}

header .avatar {
  display: flex;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  outline: 0.25rem solid var(--color-30);
}

header .avatar img {
  width: 100%;
  height: 100%;
  align-self: center;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 1rem;
}

header h2 {
  font-size: 1rem;
  font-weight: 500;
}

nav {
  width: 100%;
  height: 50%;
  padding-top: 2rem;
}

.grid-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-item img {
  height: 60%;
  width: 60%;
}

.grid-item {
  display: flex;
}

.grid-item-01,
.grid-item-02,
.grid-item-03 {
  justify-content: center;
  align-items: center;
}

.grid-item-04 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.grid-item-05 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-06 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-30);
  border-radius: 50%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
  height: auto;
  width: auto;
}

.circle-1,
.circle-3,
.circle-4,
.circle-6,
.circle-8 {
  width: 4rem;
  height: 4rem;
}

.main-circle {
  width: 10rem;
  height: 10rem;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

a {
  text-decoration: inherit;
  color: var(--color-30);
}

h3 {
  color: var(--color-10);
  font-family: var(--font);
  font-weight: 100;
  font-size: 0.8rem;
}

.bg-main-circle {
  position: absolute;
  z-index: -1;
  width: 20rem;
  height: 20rem;
  padding-top: 1rem;
  opacity: 50%;
}

.bg-main-circle img {
  width: 100%;
  height: 100%;
  animation: move 5s linear infinite;
}

.bg-sub-circle {
  position: absolute;
  z-index: -1;
  width: 25rem;
  height: 25rem;
  transform: translateY(-50%);

  opacity: 50%;
}

.bg-sub-circle img {
  width: 100%;
  height: 100%;
  animation: move 5s linear infinite;
}

@keyframes move {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
